.title-text{
	-fx-font-size: 30pt;
	-fx-padding: 20.0 0 0 0;
}

.button{
	-fx-padding: 5 22 5 22;   
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 24pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 275.0px 
}

