.title-text{
	-fx-font-size: 30pt;
	-fx-padding: 20.0 0 0 0;
}

.button{
	-fx-padding: 5 5 5 5;   
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 100.0px 
}

.background{
	-fx-background-color: white;
}